<template>
    <card>
        <h4 slot="header" class="card-title">Добавление наблюдения</h4>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <base-input type="number"
                                label="Версия Реальности"
                                placeholder="1337" required
                                v-model="observation.realityVersion">
                    </base-input>
                </div>
                <div class="col-md-2">
                    <label>Дата</label>
                    <base-input type="date"
                                v-model="observation.date">
                    </base-input>
                </div>
                <div class="col-md-7">
                    <label>Короткое описание:</label>
                    <base-input type="text"
                                placeholder="Короткое описание наблюдения"
                                v-model="observation.briefDescription">
                    </base-input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Подробное описание:</label>
                    <textarea rows="5"
                              class="form-control"
                              placeholder="Подробное описание наблюдения"
                              v-model="observation.fullDescription">
            </textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-info btn-fill" @click.prevent="saveObservation" style="margin: 10px 0;">
                Добавить
            </button>
            <div class="clearfix"></div>

        </form>
    </card>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue'

  export default {
    components: {
      Card
    },
    data() {
      return {
        observation: {
          realityVersion: 1337,
          date: new Date().toLocaleString('sv').slice(0, 10),
          briefDescription: 'Описание',
          fullDescription: 'Полное описание'
        }
      }
    },
    methods: {
      saveObservation() {
        this.$http.post(window.location.origin + '/observations', {
          detailDesc: this.observation.fullDescription,
          shortDesc: this.observation.briefDescription,
          realtyVersion: this.observation.realityVersion,
          created: new Date(this.observation.date).toISOString()
        }, {headers: {'Content-Type': 'application/json'}})
          .then(() => alert('all good! ' + this.$role))
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      }
    }
  }

</script>
<style>

</style>

