<template>
    <card>
        <h4 slot="header" class="card-title">Добавление статистического отчета</h4>
        <div class="row">
            <div class='col-md-4'>
                <h5>Поиск по наблюдениям</h5>
                <div style='border-top: 1px solid #ddd; padding-top: 19px;'>
                    <label>Версия Реальности</label>
                    <base-input type="number"
                                placeholder="1337" required
                                v-model="observation.realityVersion">
                    </base-input>

                    <div class="row">
                        <div class="col-md-6">
                            <label>От:</label>
                            <base-input type="date"
                                        placeholder="24.05.2019 13:37"
                                        v-model="observation.fromDate">
                            </base-input>
                        </div>
                        <div class="col-md-6">
                            <label>До:</label>
                            <base-input type="date"
                                        placeholder="24.05.2019 13:38"
                                        v-model="observation.toDate">
                            </base-input>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill" @click.prevent="searchObservations">
                    Искать
                </button>
            </div>

            <div class="col-md-8">
                <h5>Результаты поиска:</h5>
                <l-table :data="searchResults.data"
                         :columns="searchResults.columns">
                    <template slot="columns"></template>

                    <template slot-scope="{row}">
                        <td>
                            <base-checkbox v-model="row.checked"></base-checkbox>
                        </td>
                        <td>{{row.title}}</td>
                    </template>
                </l-table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Информация об отчете</h5>
                <label>Короткое описание:</label>
                <base-input type="text"
                            placeholder="Короткое описание наблюдения"
                            v-model="report.briefDescription">
                </base-input>
                <label>Подробное описание:</label>
                <textarea rows="5"
                          class="form-control"
                          placeholder="Подробное описание наблюдения"
                          v-model="report.fullDescription">
                </textarea>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-info btn-fill" @click.prevent="saveReport" style="margin-left: 15px;">
                Добавить
            </button>
        </div>

        <div class="footer">
            <hr>
            <div class="stats">
            </div>
        </div>
    </card>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue'
  import LTable from 'src/components/Table.vue'

  export default {
    components: {
      Card,
      LTable
    },
    data() {
      return {
        observation: {
          realityVersion: 1337,
          fromDate: new Date().toLocaleString('sv').slice(0, 10),
          toDate: new Date().toLocaleString('sv').slice(0, 10)
        },
        report: {
          briefDescription: 'Описание',
          fullDescription: 'Полное описание'
        },
        searchResults: {
          data: [
          ]
        }
      }
    },
    methods: {
      saveReport() {
        this.$http.post(window.location.origin + '/statistic', {
          detailDesc: this.report.fullDescription,
          shortDesc: this.report.briefDescription,
          realtyVersion: this.observation.realityVersion,
          observations: this.searchResults.data.filter(result => result.checked)
                                               .map(result => result.initialObject)
        }, {headers: {'Content-Type': 'application/json'}})
          .then(() => alert('all good!'))
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      },
      searchObservations() {
        this.$http.get(window.location.origin + '/observations', {
          params: {
            realtyVersion: this.observation.realityVersion,
            createdAfter: + new Date(this.observation.fromDate),
            createdBefore: + new Date(this.observation.toDate)
          }
        })
          .then((observations) => {
            console.log(observations);
            this.searchResults.data = observations.data.map(obs => {
              return {
                title: `Реальность: ${obs.realtyVersion}. Описание: ${obs.shortDesc}`,
                checked: false,
                initialObject: obs
              }
            });
            console.log(this.searchResults.data);
          })
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      }
    }
  }

</script>
<style>

</style>

