<template>
    <card>
        <h4 slot="header" class="card-title">Добавление социального отчета</h4>
        <div class="row">
            <div class='col-md-4'>
                <h5>Поиск по наблюдениям</h5>
                <div style='border-top: 1px solid #ddd; padding-top: 19px;'>
                    <label>Версия Реальности</label>
                    <base-input type="number"
                                placeholder="1337" required
                                v-model="observation.realityVersion">
                    </base-input>

                    <div class="row">
                        <div class="col-md-6">
                            <label>От:</label>
                            <base-input type="date"
                                        placeholder="24.05.2019 13:37"
                                        v-model="observation.fromDate">
                            </base-input>
                        </div>
                        <div class="col-md-6">
                            <label>До:</label>
                            <base-input type="date"
                                        placeholder="24.05.2019 13:38"
                                        v-model="observation.toDate">
                            </base-input>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill" @click.prevent="searchObservations">
                    Искать
                </button>
            </div>

            <div class="col-md-8">
                <h5>Результаты поиска:</h5>
                <l-table :data="observations.data"
                         :columns="observations.columns">
                    <template slot="columns"></template>

                    <template slot-scope="{row}">
                        <td>
                            <base-checkbox v-model="row.checked"></base-checkbox>
                        </td>
                        <td>{{row.title}}</td>
                    </template>
                </l-table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Связанные с выбранными наблюдениями отчеты:</h5>
                <l-table :data="reports.data"
                         :columns="reports.columns">
                    <template slot="columns"></template>

                    <template slot-scope="{row}">
                        <td>
                            <base-checkbox v-model="row.checked"></base-checkbox>
                        </td>
                        <td>{{row.title}}</td>
                    </template>
                </l-table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Информация об отчете</h5>
                <label>Короткое описание:</label>
                <base-input type="text"
                            placeholder="Короткое описание наблюдения"
                            v-model="psychological.briefDescription">
                </base-input>
                <label>Подробное описание:</label>
                <textarea rows="5"
                          class="form-control"
                          placeholder="Подробное описание наблюдения"
                          v-model="psychological.fullDescription">

                </textarea>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-info btn-fill" @click.prevent="saveReport" style="margin-left: 15px;">
                Добавить
            </button>
        </div>

        <div class="footer">
            <hr>
            <div class="stats">
            </div>
        </div>
    </card>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue'
  import LTable from 'src/components/Table.vue'

  export default {
    components: {
      Card,
      LTable
    },
    data() {
      return {
        observation: {
          realityVersion: 1337,
          fromDate: new Date().toLocaleString('sv').slice(0, 10),
          toDate: new Date().toLocaleString('sv').slice(0, 10)
        },
        psychological: {
          briefDescription: 'Описание',
          fullDescription: 'Полное описание'
        },
        observations: {
          data: []
        },
        reports: {
          data: []
        }
      }
    },
    watch: {
        observations: {
          handler() {
            this.updateStatReports()
          },
          deep: true
        }
    },
    methods: {
      saveReport() {
        this.$http.post(window.location.origin + '/psychological', {
          detailDesc: this.psychological.fullDescription,
          shortDesc: this.psychological.briefDescription,
          realtyVersion: this.observation.realityVersion,
          observations: this.observations.data.filter(obs => obs.checked)
                                               .map(obs => obs.initialObject),
          statisticalReports: this.reports.data.filter(rep => rep.checked)
                                               .map(rep => rep.initialObject)
        }, {headers: {'Content-Type': 'application/json'}})
          .then(() => alert('all good!'))
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      },
      searchObservations() {
        this.$http.get(window.location.origin + '/observations',
              {params: {realtyVersion: this.observation.realityVersion}})
          .then((observations) => {
            console.log(observations);
            this.observations.data = observations.data.map(obs => {
              return {
                title: `Реальность: ${obs.realtyVersion}. Описание: ${obs.shortDesc}`,
                checked: false,
                initialObject: obs
              }
            });
            console.log(this.observations.data);
          })
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      },
      updateStatReports() {
        let observationsIds = this.observations.data
              .filter(obs => obs.checked)
              .map(obs => obs.initialObject.id);
        if (!observationsIds || !observationsIds.length) {
          this.reports.data = [];
          return;
        }
        this.$http.get(window.location.origin + '/statistic/byObservations', {params: {ids: observationsIds}})
          .then((reports) => {
            console.log(reports);
            this.reports.data = reports.data.map(report => {
              return {
                title: `Реальность: ${report.realtyVersion}. Отчет: ${report.shortDesc}`,
                checked: false,
                initialObject: report
              }
            });
            console.log(this.reports.data);
          })
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      }
    }
  }

</script>
<style>

</style>

