<template>
    <div class="content">
        <div class="container-fluid">
            <card>
                <h4 slot="header" class="card-title">Изменение реальности</h4>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Связанные наблюдения:</h5>
                        <l-table :data="observations.data"
                                 :columns="observations.columns">
                            <template slot="columns"></template>

                            <template slot-scope="{row}">
                                <td>{{row.title}}</td>
                            </template>
                        </l-table>
                    </div>
                    <div class="col-md-6">
                        <h5>Связанные отчеты:</h5>
                        <l-table :data="statReports.data"
                                 :columns="statReports.columns">
                            <template slot="columns"></template>

                            <template slot-scope="{row}">
                                <td>{{row.title}}</td>
                            </template>
                        </l-table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Связанные психологические характеристики:</h5>
                        <l-table :data="psychReports.data"
                                 :columns="psychReports.columns">
                            <template slot="columns"></template>

                            <template slot-scope="{row}">
                                <td>{{row.title}}</td>
                            </template>
                        </l-table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>Задание</h5>
                        <label>Короткое описание:</label>
                        <base-input type="text" disabled=""
                                    placeholder="Короткое описание наблюдения"
                                    v-model="change.briefDescription">
                        </base-input>
                        <label>Подробное описание:</label>
                        <textarea rows="5" disabled
                                  class="form-control"
                                  placeholder="Подробное описание наблюдения"
                                  v-model="change.fullDescription">

                </textarea>
                        <label>Назначить</label>
                        <select disabled class="form-control" placeholder="Короткое описание наблюдения">
                            <option>{{user.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-info btn-fill" @click.prevent="finalize" style="margin-left: 15px;">
                        Финализировать
                    </button>
                </div>

                <div class="footer">
                    <hr>
                    <div class="stats">
                    </div>
                </div>
            </card>
        </div>
    </div>
</template>

<script>
  import Card from 'src/components/Cards/Card.vue'
  import LTable from 'src/components/Table.vue'

  export default {
    components: {
      Card,
      LTable
    },
    data() {
      return {
        change: {
          briefDescription: 'Описание',
          fullDescription: 'Полное описание'
        },
        observations: {
          data: []
        },
        statReports: {
          data: []
        },
        psychReports: {
          data: []
        },
        user: ''
      }
    },
    mounted() {
      this.$http.get(window.location.origin + '/realty/' + this.$route.params.id)
        .then((change) => {
          this.change.briefDescription = change.data.shortDesc;
          this.change.fullDescription = change.data.detailDesc;
          this.observations.data = change.data.observations.map(obs => {
            return {
              title: `Реальность: ${obs.realtyVersion}. Описание: ${obs.shortDesc}`,
              checked: false,
              initialObject: obs
            }
          });
          this.psychReports.data = change.data.psychologicalReports.map(obs => {
            return {
              title: `Реальность: ${obs.realtyVersion}. Описание: ${obs.shortDesc}`,
              checked: false,
              initialObject: obs
            }
          });
          this.statReports.data = this.psychReports.data;
          this.user = change.data.assignedUser;
        })
        .catch((err) => {
          let errorMessage = 'Error!';
          if (err.status === 403 || err.status === 401) {
            errorMessage = 'Not allowed to do that';
          } else if (err.status === 404) {
            errorMessage = 'Not found!';
          }
          console.error(err);
          alert(errorMessage);
        });
    },
    methods: {
      finalize() {
        this.$http.put(window.location.origin + '/realty', {
          detailDesc: this.change.fullDescription,
          shortDesc: this.change.briefDescription,
          observations: this.observations.data
            .filter(obs => obs.checked)
            .map(obs => obs.initialObject),
          psychologicalReports: this.psychReports.data
            .filter(rep => rep.checked)
            .map(rep => rep.initialObject),
          assignedUser: this.user,
          finished: true,
          id: this.$route.params.id
        }, {headers: {'Content-Type': 'application/json'}})
          .then(() => this.$router.push('/tasks'))
          .catch((err) => {
            let errorMessage = 'Error!';
            if (err.status === 403 || err.status === 401) {
              errorMessage = 'Not allowed to do that';
            }
            console.error(err);
            alert(errorMessage);
          });
      }
    },
    props: {
      changeId: {
        Type: Number,
        default: null
      }
    },

  }
</script>

<style scoped>
</style>