<template>
  <div class="content">
    <div class="container-fluid">
      <div class="col-md-12">
        <l-table :data="changes.data"
                 :columns="changes.columns"
                 style="height: 100% !important;">
          <template slot="columns"></template>

          <template slot-scope="{row}">
            <td>
              <span class="table-line">{{row.title}}</span>
              <router-link :to="'/changes/' + row.id">
                <button class="btn btn-info btn-fill table-btn"> Открыть </button>
              </router-link>

            </td>
          </template>
        </l-table>
      </div>
    </div>
  </div>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue'
  import LTable from 'src/components/Table.vue'
  export default {
    data() {
      return {
        changes: {
          data: []
        }
      }
    },
    mounted() {
      this.$http.get(window.location.origin + '/realty')
              .then((changes) => {
                console.log(changes);
                this.changes.data = changes.data
                        .filter(change => !change.finished)
                        .map(change => {
                          return {
                            title: `Реальность: ${change.realtyVersion}. Описание: ${change.shortDesc}`,
                            id: change.id,
                            checked: false,
                            initialObject: change
                          }
                        });
                console.log(this.changes.data);
              });
    },
    components: {
      Card,
      LTable
    }
  }
</script>
<style>
.table-btn {
  float: right;
}
.table-line {
  line-height: 42px;
}
</style>
