<template>
  <div class="content">
    <div class="container-fluid">
      <change-reality-form></change-reality-form>
    </div>
  </div>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue'
  import ChangeRealityForm from "./Forms/ChangeRealityForm";
  import ChangeDisplay from "./ChangeDisplay";

  export default {
    components: {
      ChangeDisplay,
      ChangeRealityForm,
      Card
    }
  }

</script>
<style>

</style>
