<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <report-form></report-form>
      </div>
    </div>
  </div>
</template>
<script>
  import EditProfileForm from './UserProfile/EditProfileForm.vue'
  import UserCard from './UserProfile/UserCard.vue'
  import ReportForm from "./Forms/ReportForm";

  export default {
    components: {
      ReportForm,
      EditProfileForm,
      UserCard
    }
  }

</script>
<style>

</style>
