<template>
  <div class="wrapper">
    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/observations" allowed-roles="observer">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>Наблюдения</p>
      </sidebar-link>
      <sidebar-link to="/statistics" allowed-roles="statistic">
        <i class="nc-icon nc-circle-09"></i>
        <p>Отчеты</p>
      </sidebar-link>
      <sidebar-link to="/psychology" allowed-roles="psychologist, sociologist">
        <i class="nc-icon nc-notes"></i>
        <p>Общество</p>
      </sidebar-link>
      <sidebar-link to="/changes" allowed-roles="numerator">
        <i class="nc-icon nc-paper-2"></i>
        <p>Изменения реальности</p>
      </sidebar-link>
      <sidebar-link to="/tasks" allowed-roles="technician">
        <i class="nc-icon nc-atom"></i>
        <p>Задания</p>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <dashboard-content @click="toggleSidebar">
      </dashboard-content>

    </div>
  </div>
</template>
<style lang="scss">
  .row {
    margin-top: 20px;
  }
</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
